<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	<label for="modelName">
		<f:translate key="tx_mobilecompany_domain_model_mobile.model_name" /> <span class="required">(required)</span>
	</label><br />
		<f:form.textfield property="modelName" id="modelName"  class="form-control" /><br />

	<label for="brand">
		<f:translate key="tx_mobilecompany_domain_model_mobile.brand" /> <span class="required">(required)</span>
	</label><br />
		<f:form.textfield property="brand" id="brand"  class="form-control" /><br />

	<label for="price">
		<f:translate key="tx_mobilecompany_domain_model_mobile.price" /> <span class="required">(required)</span>
	</label><br />
		<f:form.textfield property="price" id="price"  class="form-control" /><br />

	<label for="releaseDate">
		<f:translate key="tx_mobilecompany_domain_model_mobile.release_date" />
	</label><br />
		<f:form.textfield property="releaseDate" class="form-control" id="releaseDate" type="date" value="{f:format.date(date: mobile.releaseDate, format: 'Y-m-d')}" /><br />

	<label for="specifications">
		<f:translate key="tx_mobilecompany_domain_model_mobile.specifications" /><span class="required">(required)</span>
	</label><br />
		<f:form.textfield property="specifications" id="specifications"  class="form-control" /><br />

</html>